# The releng team is by default the owner of everything.
*             @eclipse-dataplane-core/eclipsefdn-releng

# Otterdog related configurations are also owned by the security team.
/otterdog/**  @eclipse-dataplane-core/eclipsefdn-security
